<div style="text-align:center">
    <form #login="ngForm" (ngSubmit)="submit(login)">
        <div class="form-group">
            <label>Email address</label>
            <input #name="ngModel" required minlength="2" type="email"
            class="form-control" name="useremail" placeholder="Enter email" ngModel>
            <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
                <div *ngIf="name.errors?.['required']">
                    Email is required
                </div>
                <div *ngIf="name.errors?.['minlength']">
                    Invalid email
                </div>
            </div>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ngModel>

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>



    </form>






</div>